<div *ngIf="track">
	<h1>{{track.name}}</h1>
	<p><img src="{{track.album.images[1].url}}" alt=""></p>
	<p><audio controls src="{{track.preview_url}}"></audio></p>
	<p><a href (click)="back()">Back</a></p>
</div>