<div class="page-header">
	<div class="container">
		<h1>Spotify <small>Music Search</small></h1>
	</div>
</div>

<div id="content">
	<div class="container">
		<router-outlet></router-outlet>
	</div>
</div>